* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 7rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu {
    background-color: lightblue;
    height: 1000px;
    padding: 20px 0 0 0;
}

.search__space {
    border-radius: 10px;
    margin: 10px 12.5px 10px 25px;
    padding: 20px;
}

.search__bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-header {
    background-color: burlywood;
}

.card-header-title {
    font-size: 30px;
}
.card-content {
    background-color: blanchedalmond;
}

#cat-button {
    align-items: center; 
    width: 100%;
    margin-bottom: 20px;
    font-weight: 500;
    
}
 
#dog-button {
    align-items: center; 
    width: 100%;
    font-weight: 500;
 }

.btn {
    width: 20%;
    height: 2.7rem;
    border-radius: 10px;
    background-color: white;
    padding: 2px;
}

.search__history {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 2px solid orange;
    margin: 10px;
    width: 95%;
    font-size: 25px;
    background-color: #363636;
    color:aliceblue
}

.results {
    width: 100%;
    border-radius: 10px;
    margin: 10px 25px 10px 12.5px;
}

.pet-image {
    display: flex;
    width: auto;
    max-height: 650px; 
    margin: 5px auto;
    border-radius: 15px;
}


.random-fact {
    font-size: 30px;
    font-weight: bold; 
    text-align: center;
    color: #363636;
}

.dog-search-history {
    background-color: #48C78E;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
}

.cat-search-history {
    background-color: #3E8ED0;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
}