* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header Syling */
.title {
    font-size: 7rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/*Background Styling */
.menu {
    background-color: lightblue;
    min-height: 1000px;
    padding: 20px 0 0 0;
}


/* Card Styling */
.search__space {
    border-radius: 10px;
    margin: 10px 12.5px 10px 25px;
    padding: 20px;
}

.card-header {
    background-color: burlywood;
}

.card-header-title {
    font-size: 30px;
}
.card-content {
    background-color: blanchedalmond;
}

#cat-button {
    align-items: center; 
    width: 100%;
    margin-bottom: 20px;
    font-weight: 500;
    
}
 
#dog-button {
    align-items: center; 
    width: 100%;
    font-weight: 500;
 }

/* Picture and Fact Results Styling */
.results {
    width: 100%;
    border-radius: 10px;
    margin: 10px 25px 10px 12.5px;
}

.pet-image {
    /* display: flex;
    align-items: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 650px; 
    border-radius: 15px;
}

.random-fact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 30px;
    font-weight: bold; 
    text-align: center;
    color: #363636;
}

/* Button Click History Styling */
.dog-search-history {
    background-color: #48C78E;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
}

.cat-search-history {
    background-color: #3E8ED0;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    
    .title {
        font-size: 6rem;
        padding-bottom: 40px;
    }


    .random-fact {
        font-size: 25px;
    }

    .pet-image {
        max-width: 500px;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    
    .title {
        font-size: 4rem;
        padding-bottom: 40px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    
    .pet-image {
        max-width: 350px;
    }

    .card-header-title {
        font-size: 20px;
    }
}